body {
    background-color: gray;
    color: white;
    font-family: Arial;
    margin: 20px;
}

a { 
    text-decoration: none; 
    color: rgb(161, 205, 231);
    transition: 1s 2s; 
} 
 
a:link { 
    color: rgb(21, 0, 255); 
    text-decoration: underline; 
} 
 
a:visited { 
    color: rgb(255, 0, 195); 
    text-decoration: underline; 
} 
 
a:hover { 
    color: rgb(48, 48, 48); 
    text-decoration: underline;
    transition: 0.3s;  
} 
 
a:active { 
    color: rgb(253, 210, 255); 
    opacity: 1; 
}

div.menu {
    border: 7px solid #ff00c8;
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
}

div.menu:hover {
    background-color: #ffffff ;
    box-shadow: 0 0 15px #ffffff80;
}

h1 {
    text-align: center;
}