body {
    background-color: gray;
    color: white;
    font-family: Arial;
    margin: 20px;
}

a { 
    text-decoration: none; 
    color: rgb(161, 205, 231);
    transition: 1s 2s; 
} 
 
a:link { 
    color: rgb(21, 0, 255); 
    text-decoration: underline; 
} 
 
a:visited { 
    color: rgb(255, 0, 195); 
    text-decoration: underline; 
} 
 
a:hover { 
    color: rgb(48, 48, 48); 
    text-decoration: underline;
    transition: 0.3s;  
} 
 
a:active { 
    color: rgb(0, 110, 255); 
    opacity: 1; 
}